h1{
    
    margin-bottom: 10%;
    margin-top: 5%;
    
}



h5{
    font-weight:600;
    margin-top:2px;
    background-color:darksalmon;
   
}
h6{
    font-weight:600;
    
}


#frst{
    max-width: 39%;
    margin-top:5%;
    background-color:cornsilk;
}
#sec{
    
    margin-top:5%;
    margin-left: 10%;
}